input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 20px 50px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000000;
}

.container {
  border-radius: 4px;
  padding: 20px;
}

.banner {
  top: 0;
  background-color: #333;
  margin-top: 0px;
  height: 200px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.banner img {
  height: 100%;
}

.logo {
  top: 0;
  left: 0;
  z-index: 2;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 10px 60px;
  text-decoration: none;
  font-size: 17px;
}