body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
        }
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
h2 {
    text-align: center;
    }
.form-group {
    margin-bottom: 20px;
     }
label {
    display: block;
    font-weight: bold;
      }
input[type="text"], input[type="password"] {
	width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
        }
.btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 1px;
    cursor: pointer;